<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Worship Slides - Presentation</title>
</head>
<body>
    <div class="flex flex--v" id="presentation">
        <div class="flex__main" id="content">
            <template v-for="line in content.lines">
                <div v-if="line.slice(0,1) === REGION2_INDICATOR" class="line--region2">
                    {{line.slice(1)}}
                </div>
                <div v-else>
                    {{line}}
                </div>
            </template>
        </div>
        <div class="flex presentation__info">
            <div class="flex__main">{{title}}</div>
            <div>{{author}}</div>
        </div>
        <div class="blank-overlay" v-bind:class="{ 'blank-overlay--hidden': !isBlank }">
        </div>
    </div>
    <script>
    require('./presentation.js');
    </script>
</body>
</html>