html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #525252;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  text-align: center;
}

/* PRESENTATION */
#presentation {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.blank-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  transition: opacity .25s;
  border: 6px double #222;
}

.blank-overlay--hidden {
  opacity: 0;
}

/* New stuff */

.column {
  padding: 1em;
}
.column--left, 
.column--right {
  background-color: #eee;
}

.flex {
  display: flex;
}

.flex--v {
  display: flex;
  flex-direction: column;
}

.flex__main {
  flex: 1;
}

.shortcuts {
  font-size: 75%;
}

.header {
  margin: .5em 0 .5em;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .1em;
  color: #888;
}

.verse_list {
  overflow: scroll-y;
}

.verse_selector {
  background-color: white;
  border: 1px solid #ddd;
  padding: 1em;
  display: block;
  cursor: pointer;
  transition: all .2s;
}
.verse_selector.active {
  background-color: #ade;
  box-shadow: inset 0 0 0 2px #39e;
  
}
.verse_selector:hover {
  background-color: #eff;
}
.verse_selector>input {
  display: none;
}
.verse_selector>h3 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .1em;
  color: #888;
}
.verse_selector--p {
  margin: 0;
}

/* worship.css */


button {
  min-width: 10px;
  border: 1px solid #777;
  background-color: #eee;
  font-family: inherit;
  padding: .3em .8em;
  border-radius: .2em;
  margin-bottom: .3em;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}
button:active {
  box-shadow: none;
  background-color: #aaa;
}
button:focus {
  outline: none;
  border-color: #39e;
}

.btn--main {
  padding: 1em;
  font-size: 1.2em;
}

#worship_preview_box {
  width: 250px;
  height: 200px;
  background: black;
  color: white;
}
#worship_preview {
  text-align: center;
}
#worship_preview_box description{
  word-wrap: break-word;
  width: 250px;
}

#worship_presentation_box {
  background: black;
  color: white;
}
#worship_presentation_box  description {
  word-wrap: break-word;
}
#worship_preview_box description span, #worship_presentation_box  description span {
  display: inline-block;
}
#worship_presentation {
  text-align: center;
}
.identifier {
  font-style: italic;
  margin-bottom: 0;
  padding-bottom: 0;
}

#worship_preview_title {
  font-size: 60%;
  /*color: #ccc;*/
  opacity: 0.6;
}
#worship_preview_author, #worship_preview_copyright, #worship_preview_ccli {
  font-size: 40%;
  /*color: #aaa;*/
  opacity: 0.4;
}

.underline {
  text-decoration: underline;
}
.region2 {
  font-size: 100%;
}



/* worshipSlidesUI.css */

/* #worshipslides-start-button {
  list-style-image: url("chrome://worshipslides/skin/music_folder.png");
}

toolbarbutton.worshipslides-toolbarbutton {
  list-style-image: url("chrome://worshipslides/skin/music_folder.png");
} */